<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <title>Survey Details</title>
</head>

<body>

<h1>Survey Details</h1>

<table border="1"
       cellpadding="8">

    <tr>
        <th>ID</th>
        <td th:text="${survey.id}"></td>
    </tr>

    <tr>
        <th>Name</th>
        <td th:text="${survey.name}"></td>
    </tr>

    <tr>
        <th>Age</th>
        <td th:text="${survey.age}"></td>
    </tr>

    <tr>
        <th>Gender</th>
        <td th:text="${survey.gender}"></td>
    </tr>

    <tr>
        <th>Location</th>
        <td th:text="${survey.location}"></td>
    </tr>

    <tr>
        <th>Health Condition</th>
        <td th:text="${survey.healthCondition}"></td>
    </tr>

    <tr>
        <th>Survey Date</th>
        <td th:text="${survey.surveyDate}"></td>
    </tr>

    <tr>
        <th>Status</th>
        <td th:text="${survey.status}"></td>
    </tr>

</table>

<br>

<a th:href="@{/surveys/{id}/edit(id=${survey.id})}">
    Edit Survey
</a>

<br><br>

<a href="/surveys">
    Back to Surveys
</a>

</body>

</html>